.negativestrong {
  @include sentimiento($negativestrong);
}

.negative {
  @include sentimiento($negative);
}

.neutral {
  @include sentimiento($neutral);
}

.positive {
  @include sentimiento($positive);
}

.positivestrong {
  @include sentimiento($positivestrong);
}

.nofeelings {
  @include sentimiento($nofeelings);
}

.counters {
  margin-top: 30px;
}

.fa-plus {
  font-size: 25px;
}

.ai {
  background-size: 32px 32px;
  display: block;
  fill: currentColor;
  height: 32px;
  stroke: currentColor;
  stroke-width: 0;
}

.ai-angry {
  background: url('../resources/IcoMoon-Free-master/SVG/238-angry.svg') no-repeat center center;
}

.ai-grin {
  background: url('../resources/IcoMoon-Free-master/SVG/234-grin.svg') no-repeat center center;
}

.ai-3x {
  @include icon-size(40px);
}

.ai-5x {
  @include icon-size(60px);
}
