$negativestrong: rgb(135, 48, 25);
$negative: rgb(213, 95, 72);
$neutral: #ff7900;
$positive: #00b2a9;
$positivestrong: #007dba;
$nofeelings: rgb(122, 122, 122);
$letrasentimientos: #fff;
$loadingcontent: rgba(138, 180, 231, .83);
