/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h3, h4, .hightlight1 {
  font-family: "Gill Sans", Helvetica, sans-serif;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase; }

h3 {
  float: left;
  font-size: 30px;
  color: #111; }

h4 {
  float: left;
  clear: both;
  font-size: 15px;
  color: #676767; }

hgroup {
  float: left; }

.hightlight1 {
  float: left;
  font-size: 20px;
  color: #ed7303;
  margin-left: 5px; }

.counter {
  float: left;
  padding: 3% 0 0 4%;
  font-family: "Gill Sans", Helvetica, sans-serif;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  color: #fff; }

strong {
  color: #ed7303; }

.highlight2 {
  font-family: "Gill Sans", Helvetica, sans-serif;
  letter-spacing: -0.1em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  color: #1c1c1c; }

body {
  background: #ccc; }

.generic {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10%;
  background: #fff; }

.user {
  width: 10%;
  height: 10%;
  position: relative;
  top: 10%;
  left: 10%;
  background: #005589; }
