body {
  background-color: #fff; }

.progresscontent {
  background-color: rgba(138, 180, 231, 0.83);
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 99999; }
  .progresscontent > .progress {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 30%;
    width: 50%; }

.page-wrapper {
  display: block; }

.header {
  background-color: #fff;
  height: 150px; }
  .header > a {
    margin: 20px; }

.main-form {
  background-color: #fff;
  padding-bottom: 50px; }
  .main-form button {
    float: right;
    margin-top: 10px; }
  .main-form textarea {
    height: 150px;
    margin: 0 auto; }
  .main-form select {
    display: inline;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 50%; }

.negativestrong {
  border-color: #873019; }
  .negativestrong > .panel-heading {
    background-color: #873019;
    border-color: #873019;
    color: #fff; }

.negative {
  border-color: #d55f48; }
  .negative > .panel-heading {
    background-color: #d55f48;
    border-color: #d55f48;
    color: #fff; }

.neutral {
  border-color: #ff7900; }
  .neutral > .panel-heading {
    background-color: #ff7900;
    border-color: #ff7900;
    color: #fff; }

.positive {
  border-color: #00b2a9; }
  .positive > .panel-heading {
    background-color: #00b2a9;
    border-color: #00b2a9;
    color: #fff; }

.positivestrong {
  border-color: #007dba; }
  .positivestrong > .panel-heading {
    background-color: #007dba;
    border-color: #007dba;
    color: #fff; }

.nofeelings {
  border-color: #7a7a7a; }
  .nofeelings > .panel-heading {
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    color: #fff; }

.counters {
  margin-top: 30px; }

.fa-plus {
  font-size: 25px; }

.ai {
  background-size: 32px 32px;
  display: block;
  fill: currentColor;
  height: 32px;
  stroke: currentColor;
  stroke-width: 0; }

.ai-angry {
  background: url("../resources/IcoMoon-Free-master/SVG/238-angry.svg") no-repeat center center; }

.ai-grin {
  background: url("../resources/IcoMoon-Free-master/SVG/234-grin.svg") no-repeat center center; }

.ai-3x {
  background-size: 40px 50px;
  height: 50px;
  width: 50px; }

.ai-5x {
  background-size: 60px 70px;
  height: 70px;
  width: 70px; }

.clases {
  list-style-type: none;
  margin: 0 0 20px -30px; }
  .clases > .clase {
    margin-bottom: 10px; }
  .clases label {
    font-size: 12px; }
  .clases > li {
    display: inline-block;
    font-size: 23px;
    margin: 0 10px; }
    .clases > li > span {
      margin-right: 10px; }
    .clases > li span {
      display: inline-block; }

.card {
  margin: 0 0 10px; }
  .card .card-accion {
    font-size: 28px; }
    .card .card-accion > .label-acciones {
      font-size: 18px; }

.labelclass {
  display: block;
  font-size: 10px;
  margin-bottom: -5px; }
