.clases {
  list-style-type: none;
  margin: 0 0 20px -30px;

  > .clase {
    margin-bottom: 10px;
  }

  label {
    font-size: 12px;
  }

  > li {
    display: inline-block;
    font-size: 23px;
    margin: 0 10px;

    > span {
      margin-right: 10px;
    }

    span {
      display: inline-block;
    }
  }

}

.card {
  margin: 0 0 10px;

  .card-accion {
    font-size: 28px;

    > .label-acciones {
      font-size: 18px;
    }
  }
}

.labelclass {
  display: block;
  font-size: 10px;
  margin-bottom: -5px;
}
