.header {
  background-color: $letrasentimientos;
  height: 150px;

  > a {
    margin: 20px;
  }
}

.main-form {
  background-color: $letrasentimientos;
  padding-bottom: 50px;

  button {
    float: right;
    margin-top: 10px;
  }

  textarea {
    height: 150px;
    margin: 0 auto;
  }

  select {
    display: inline;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 50%;
  }
}
