body {
  background-color: $letrasentimientos;
}

.progresscontent {
  background-color: $loadingcontent;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 99999;

  > .progress {
    @include centerer;
    top: 30%;
    width: 50%;
  }
}

.page-wrapper {
  display: block;
}
