@mixin sentimiento($color) {
  border-color: $color;

  > .panel-heading {
    background-color: $color;
    border-color: $color;
    color: $letrasentimientos;
  }
}

@mixin centerer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin icon-size($size) {
  background-size: $size ($size + 10px);
  height: ($size + 10px);
  width: ($size + 10px);
}
