<div class="col-lg-2 col-md-0">
</div>
<div class="col-lg-8 col-md-12">
  <form class="col-lg-12">
    <div class="textarea-content form-group">
      <textarea class="form-control" rows="3"></textarea>

      <select class="form-control" name="model">
        <option value="VoC-Insurance_es" selected>Seguros</option>
        <option value="VoC-Banking_es">Banca</option>
        <option value="VoC-Generic_es">Genérico</option>
      </select>
      <button class="button btn btn-default disabled" id="submit" type="submit">Enviar</button>
    </div>
  </form>
</div>

<div class="col-lg-2 col-md-0">
</div>
